body {
    margin: 0; 
    padding: 0; 
    width: 1920px;
    height: 4334px;
    top: 106px;
    left: 69px;
    background: #FFFFFF;
    overflow-x: hidden; 
}

@font-face {
    font-family: "Archangelsk";
    src:
      url("font/archangelsk1.woff") format("woff"),
  }

@font-face {
font-family: "Roboto";
src:
    url("font/Roboto-Thin.woff") format("woff"),
    url("font/Roboto-Regular.woff") format("woff"),
    url("font/Roboto-Light.woff") format("woff"),
}

@font-face {
font-family: "Roboto2";
src:
    url("font/Roboto-Regular.woff") format("woff"),
    url("font/Roboto-Light.woff") format("woff"),
}

@font-face {
font-family: "Roboto3";
src:
    url("font/Roboto-Light.woff") format("woff"),
}

.hero {
    position: relative;
    width: 1920px; 
    height: 1000px; 
}

.header {
    position: absolute;
    width: 1280px;
    height: 74px;
    top: 20px;
    left: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 296px;
    height: 74px;
}

.social-logo {
    position: relative;
    display: flex;
    gap: 50px;
    align-items: center;
    height: 30px;
}

.social-icon {
    width: 30px;
    height: 30px;
}


.hero-content {
    position: absolute;
    width: 624px;
    height: 369px;
    top: 631px;
    left: 976px;  
    display: flex;
}

.yellow-block {
    position: absolute;
    width: 624px;
    height: 369px;
    background: url("6_pic/yellow.png") no-repeat top;
    display: flex;
}

.hero-text {
    position: absolute;
    width: 484px;
    height: 126px;
    left: 70px;
    top: 30px;
    font-family: 'Archangelsk';
    font-style: normal;
    text-align: s;
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
    color: #000000;
    display: flex;
}

.btn {
    position: absolute;
    top: 221px;
    left: 70px;
    width: 272px;
    height: 78px;
    padding: 19px 50px 19px 50px;
    background: #000000;
    display: flex;
    align-items: center;
}

.btn h1 {
    position: absolute;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
    color: #F8F200; 
}

.page2 {
    position: absolute;
    width: 1920px;
    height: 777px;
    top: 1000px;
    background: #FFFFFF;
}

.night-city {
    position: absolute;
    width: 996px;
    height: 63px;
    left: 320px;
    top: 70px;

    font-family: 'Archangelsk';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;

    color: #000000;

}

.Cyberpunk-2077 {

    position: absolute;
    width: 952px;
    height: 125px;
    left: 320px;
    top: 158px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #777777;

} 

.Cyberpunk {
    color: #52BEDC;
    font-weight: 700;
}

.screen1  {
    position: absolute;
    width: 460px;
    height: 196px;
    left: 320px;
    top: 353px;
}

.screen2  {

    position: absolute;
    width: 460px;
    height: 196px;
    left: 320px;
    top: 581px;
    
}

.big_screen  {
    position: absolute;
    width: 788px;
    height: 424px;
    left: 812px;
    top: 353px;
       
}

.dust2-3 {
    position: absolute;
    width: 1920px;
    height: 70px;
    top: 1847px;
}

.page3 {
    position: absolute;
    width: 1920px;
    height: 814px;
    top: 1917px;
    background: #000000;
}

.play-win {
    position: absolute;
    width: 569px;
    height: 63px;
    left: 484px;
    top: 30px;
    font-family: 'Archangelsk';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
    color: #FFFFFF;
}

.play {
    position: absolute;
    width: 952px;
    height: 91px;
    left: 320px;
    top: 172px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;

    color: #FFFFFF;


}

.action {
    position: absolute;
    width: 132px;
    height: 132px;
    left: 320px;
    top: 15px;
}

.station {
    position: absolute;
    width: 788px;
    height: 456px;
    left: 812px;
    top: 288px;
}

.form {
    position: absolute;
    width: 460px;
    height: 383px;
    left: 320px;
    top: 361px;
}

.hay {
    position: absolute;
    width: 460px;
    height: 35px;
}

.hay h1{
    position: absolute;
    width: 131px;
    height: 21px;
    top: -10.5px;
    font-family: 'Roboto3';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;

}

.hay-line {
    position: absolute;
    width: 460px;
    height: 1px;
    top: 35px;
    background: #777777;
    bottom: 0;
}

.input-field {
    position: relative;
    width: 100%;
    height: 21px; 
    border: none; 
    border-bottom: 1px solid #777777;
    outline: none; 
    font-family: 'Roboto3';
    font-size: 18px;
    color: #ffffff; 
    background: transparent; 
    padding: 0; 
}

.input-field::placeholder {
    color: #777777; 
}

.e-mail {
    position: absolute;
    width: 460px;
    height: 35px;
    top: 70px;
}

.e-mail h1{

    position: absolute;
    width: 131px;
    height: 21px;
    top: -10.5px;
    font-family: 'Roboto3';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;

}

.screenshot {
    position: absolute;
    width: 460px;
    height: 120px;
    top: 140px;
}

.screenshot-border {

    box-sizing: border-box;

    position: absolute;
    width: 460px;
    height: 120px;
    border: 1px dashed #777777;

}

.screenshot-text {

    position: absolute;
    width: 186px;
    height: 42px;
    left: 137px;
    top: 39px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    padding: 4px 0; 
    box-sizing: border-box; 
}

.screenshot-text h1 {
    width: 186px;
    height: 21px;
    font-family: 'Roboto3';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
}

.screenshot-text h2 {

    position: static;
    width: 84px;
    height: 14px;
    font-family: 'Roboto3';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

.btn2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 50px;
    gap: 10px;
    width: 192px;
    height: 59px;
    top: 295px;
    background: #F8F200;
}

.btn2 h1 {
    width: 92px;
    height: 21px;
    font-family: 'Roboto3';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.agreement {
    position: absolute;
    box-sizing: border-box;
    width: 280px;
    height: 14px;
    top: 369px;
}

.check {
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer; /* Делает область кликабельной */
}

.check-border {
    box-sizing: border-box;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #777777;
}

.check-agree {
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 7px;
    left: 2.17px;
    top: 2.25px;
    display: none; /* Изначально скрываем объект */
}

.agreement h1 {
    position: absolute;
    width: 256px;
    height: 14px;
    left: 24px;
    margin: 0;
    font-family: 'Roboto3';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer; /* Делает текст кликабельным */
}

.dust3-4 {
    position: absolute;
    width: 1920px;
    height: 70px;
    top: 2731px;
}

.page4 {
    position: absolute;
    width: 1920px;
    height: 676px;
    top: 2801px;
    background: #F8F200;
}

.hp {

    position: absolute;
    width: 624px;
    height: 430px;
    left: 320px;
    top: 70px;
}

.hp-text {
    position: absolute;
    box-sizing: border-box;
    width: 624px;
    height: 526px;
    left: 976px;
    top: 70px;
    margin: 0;
}

.hp-text h1 {
    position: absolute;
    width: 560px;
    height: 126px;
    margin: 0;
    font-family: 'Archangelsk';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
    color: #000000;
}

.hp-text h2 {
    position: absolute;
    width: 624px;
    height: 125px;
    top: 151px;
    margin: 0;
    font-family: 'Roboto2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #000000;
}

.possib
{
    position: absolute;
    width: 390px;
    height: 126px;
    top: 301px;
}

.color {
    position: absolute;
    width: 264px;
    height: 32px;                
}

.color-lens {
    position: absolute;
    width: 32px;
    height: 32px;
}

.color h1 {
    position: absolute;
    width: 222px;
    height: 21px;
    left: 42px;
    top: 6px;
    margin: 0;
    font-family: 'Roboto2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.crystal_pic {
    position: absolute;
    width: 32px;
    height: 32px;

}

.crystal {
    position: absolute;
    width: 350px;
    height: 32px;
    top: 47px;
}

.crystal h1 {
    position: absolute;
    width: 308px;
    height: 21px;
    left: 42px;
    top: 6px;
    font-family: 'Roboto2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.motion {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 94px;
}

.motion_pic {
    position: absolute;
    width: 32px;
    height: 32px;
}

.motion h1 {
    position: absolute;
    width: 348px;
    height: 21px;
    left: 42px;
    top: 6px;
    font-family: 'Roboto2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.btn3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 50px;
    gap: 10px;
    width: 194px;
    height: 59px;
    left: 976px;
    top: 537px;
    background: #000000;
}

.btn3 h1{
    width: 94px;
    height: 21px;
    font-family: 'Roboto3';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #F8F200;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hpXcyberpunk-logo {
    position: absolute;
    width: 540px;
    height: 80px;
    left: 362px;
    top: 526px;
}

.page5 {
    position: absolute;
    width: 1920px;
    height: 717px;
    left: 0px;
    top: 3477px;
}

.disk {
    position: absolute;
    width: 944px;
    height: 717px;
}

.buyTES {
    position: absolute;
    box-sizing: border-box;
    width: 976px;
    height: 717px;
    left: 944px;
    background: #000000;
}

.buyTES h1 {

    position: absolute;
    width: 624px;
    height: 126px;
    left: 32px;
    top: 70px;
    margin: 0;
    font-family: 'Archangelsk';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
    color: #FFFFFF;
}

.set {
    position: absolute;
    box-sizing: border-box;
    width: 466px;
    height: 169px;
    left: 32px;
    top: 221px;
}

.set h2 {
    position: absolute;
    width: 224px;
    height: 28px;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #52BEDC;
}

.setdisk {
    position: absolute;
    box-sizing: border-box;
    width: 286px;
    height: 32px;
    top: 43px;
}

.setdisk h3 {
    position: absolute;
    width: 244px;
    height: 21px;
    left: 42px;
    top: 6px;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.code {
    position: absolute;
    box-sizing: border-box;
    width: 466px;
    height: 32px;
    top: 90px;
}

.code h3 {
    position: absolute;
    width: 424px;
    height: 21px;
    left: 42px;
    top: 6px;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.collections {
    position: absolute;
    box-sizing: border-box;
    width: 431px;
    height: 32px;
    top: 137px;
}

.collections h3 {
    position: absolute;
    width: 389px;
    height: 21px;
    left: 42px;
    top: 6px;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.platform {
    position: absolute;
    width: 319px;
    height: 186.27px;
    left: 32px;
    top: 460px;
}

.platform h2 {
    position: absolute;
    width: 255px;
    height: 28.15px;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #52BEDC;
}

.platform-pos {
position: absolute;
width: 319px;
height: 133.27px;
top: 53px;
}

.footer {
    position: absolute;
    width: 1920px;
    height: 140px;
    left: 0px;
    top: 4194px;
    background: #ffffff;
}

.endlogo {
    position: absolute;
    width: 296px;
    height: 74px;
    left: 320px;
    top: 13px;
}

.cdrlogo {
    position: absolute;
    width: 296px;
    height: 74px;
    left: 648px;
    top: 13px;
}

.footer h1 {
    position: absolute;
    width: 84px;
    height: 21px;
    left: 1211px;
    top: 40px;
    margin: 0;
    font-family: 'Roboto2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.footer h2 {
    position: absolute;
    width: 272px;
    height: 21px;
    left: 1327px;
    top: 40px;
    margin: 0;
    font-family: 'Roboto2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.registered-line {
    position: absolute;
    width: 1920px;
    height: 40px;
    left: 0px;
    top: 100px;
    background: #000000;
}

.registered-line h3 {
    position: absolute;
    width: 253px;
    height: 14px;
    left: 834px;
    top: 13px;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}